In [9]:
import numpy as np
import pandas as pd

In [1]:
gauss(16,2)

NameError: name 'gauss' is not defined

In [5]:
echantillon = np.random.normal(loc=16, scale=0.2, size= 1000)

In [7]:
print(np.mean(echantillon), np.std(echantillon))

15.9921889708 0.199112704298

In [12]:
data = pd.DataFrame(data=[[14,7],[7,7],[12,1],[15,5],[6,10]], columns=['Commercials Watched', 'Product Purchase'],dtype=np.int32)
data.head()

   Commercials Watched  Product Purchase
0                   14                 7
1                    7                 7
2                   12                 1
3                   15                 5
4                    6                10

In [13]:
data.cov()

                     Commercials Watched  Product Purchase
Commercials Watched                 16.7              -7.5
Product Purchase                    -7.5              11.0

In [15]:
data['Commercials Watched'].std()**2

16.700000000000003

In [16]:
data.corr()

                     Commercials Watched  Product Purchase
Commercials Watched             1.000000         -0.553359
Product Purchase               -0.553359          1.000000